<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
      
      
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-3xl leading-9 font-semibold text-gray-900">Why The Center For Tax Help?</h2>
        <p class="mt-4 text-lg leading-7 text-gray-500">Answers without the sales pitch. Get the help you need, <strong>now</strong>.</p>
      </div>

      <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:col-gap-6 sm:row-gap-12 lg:grid-cols-4 lg:col-gap-8">
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Answers Without Fees</dt>
            <dd class="flex space-x-3 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">Answers, articles, information and strategies to resolve your IRS dispute.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Real Pros</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Get your case assessed by a pro with real IRS litigation experience, for $300, before paying thousands to the IRS or a some tax-resolution service.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Self-Driven System</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Become your own pro, at your own pace. Learn what to do and what not to do with a safety-net of seasoned tax controversy specialists ready to assist if you feel stuck or simply know you need our help.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Useful Tools</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Audit Support. IRS Collections. Criminal Investigation. Business Tax problems. The free tools on our site have been designed to assist your first steps to taking back the control of your situation. </span>
            </dd>
          </div>
        </div>
      </dl>

      <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:col-gap-6 sm:row-gap-12 lg:grid-cols-3 lg:col-gap-8 md:px-20">
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Up To Date</dt>
            <dd class="flex space-x-3 lg:border-t-0 lg:py-0 lg:pb-4">
              <span class="text-base leading-6 text-gray-500">Tax law changes often. So do we. The Center strives to always be up to date and provide the latest information to support you in your IRS dispute.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">Present + Precedent</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">We keep past articles available for exploration of tax law changes and we clearly identify outdated information.</span>
            </dd>
          </div>
        </div>
        <div class="flex space-x-3">
          <!-- Heroicon name: check -->
          <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <div class="space-y-2">
            <dt class="text-lg leading-6 font-medium text-gray-900">We're Here For You</dt>
            <dd class="flex space-x-3">
              <span class="text-base leading-6 text-gray-500">Our mission is to be the best at what we do – helping taxpayers in trouble with the IRS. We are here for you, to help you efficiently resolve your IRS dispute as quickly and economically as possible, with veteran IRS controversy specialists.</span>
            </dd>
          </div>
        </div>
      </dl>






    </div>
</div>
  