<div class="bg-gray-800 text-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-white md:text-4xl md:leading-10">
        <span class="block">Prefer To Talk To A Tax Law Pro?</span>
        <span class="block text-gray-400">Schedule Your Flat-Fee Consultation.</span>
      </h2>
      <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
        <div class="inline-flex rounded-md shadow">
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-skyblue hover:bg-red-700 transition duration-150 ease-in-out">
            Schedule My Consult
          </a>
        </div>
      </div>
    </div>
  </div>