<section class="py-8 px-4">
    <h2 class="text-2xl text-center pb-6 mb-6 border-b border-gray-200">What People Are Saying About The Center</h2>
    <div class="flex flex-wrap">
      <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0">
        <p class="mb-4">I was exhausted. When I slept the IRS was in my dreams. I felt entirely stuck. The information on this site gave me hope, and I was able to push back. I thought I had no rights. I was wrong. </p>
        <p class="text-sm font-semibold">Suzanne Parker</p>
        <p class="text-sm text-gray-500">Small Business Owner</p>
      </div>
      <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0 md:border-l">
        <p class="mb-4">You know, mistakes happen. In the end, we are only people, right? After a short consultation with The Center, I was prepared to tell the IRS where to go. I hated having to deal with this, but I felt like I finally had somebody in my corner.</p>
        <p class="text-sm font-semibold">Dustin Turner</p>
        <p class="text-sm text-gray-500">Rental Property Manager</p>
      </div>
    </div>
  </section>