<section class="py-8 px-4">
    <h2 class="text-2xl text-center pb-6 mb-6 border-b border-gray-200">What People Are Saying About The Center</h2>
    <div class="flex flex-wrap">
      <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0">
        <p class="mb-4">Michael, the Manager? I swear, that man can really close deals with people. Such a nice contact, great quality products, professional service. And God knows, that company is fun at parties.</p>
        <p class="text-sm font-semibold">Customer Name</p>
        <p class="text-sm text-gray-500">Retired</p>
      </div>
      <div class="md:w-1/2 py-4 md:px-16 mb-4 md:mb-0 md:border-l">
        <p class="mb-4">You know, mistakes happen. In the end, we are only people, right? The Manager recorder an apology video for me and gave me 6 months of free products. That’s the way you deal with stressful situations.</p>
        <p class="text-sm font-semibold">Customer Name</p>
        <p class="text-sm text-gray-500">Small Business Owner</p>
      </div>
    </div>
  </section>