
{{ partial "footer/form" . }}


<footer class="bg-gray-100">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">


      <div class="flex flex-wrap overflow-hidden">

        <div class="w-full overflow-hidden md:w-1/2 lg:w-1/4">
          <div class="space-y-8 xl:col-span-1">
            <img class="h-24" src="/images/mark.png" alt="The Center For IRS Help">
          </div>
        </div>
      
        <div class="w-full overflow-hidden md:w-1/2 lg:w-1/4">
          <h4 class="text-sm leading-5 font-semibold text-gray-700 tracking-wider uppercase">
            Topics
          </h4>
          <ul class="mt-4 space-y-4">
            <li>
              <a href="/topic/irs-audits/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                IRS Audit Help
              </a>
            </li>
            <li>
              <a href="/topic/tax-debts/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Tax Debt Resolution
              </a>
            </li>
            <li>
              <a href="/topic/business-taxes/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Business Tax Issues
              </a>
            </li>
            <li>
              <a href="/topic/unfiled-tax-returns/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Unfiled Tax Returns
              </a>
            </li>
            <li>
              <a href="/topic/criminal-tax/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Criminal Tax Defense
              </a>
            </li>
            <li>
              <a href="/topic/foreign-tax-issues/" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Foreign Tax Issues
              </a>
            </li>
          </ul>
        </div>
      
        <div class="w-full overflow-hidden md:w-1/2 lg:w-1/4">
          <h4 class="text-sm leading-5 font-semibold text-gray-700 tracking-wider uppercase">
            Support
          </h4>
          <ul class="mt-4 space-y-4">
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Pricing
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Link Goes Here.
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Link Goes Here.
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Link Goes Here.
              </a>
            </li>
          </ul>
        </div>
      
        <div class="w-full overflow-hidden md:w-1/2 lg:w-1/4">
          <h4 class="text-sm leading-5 font-semibold text-gray-700 tracking-wider uppercase">
            Company
          </h4>
          <ul class="mt-4 space-y-4">
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                About
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Blog
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Jobs
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Press
              </a>
            </li>
            <li>
              <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                Partners
              </a>
            </li>
          </ul>
        </div>
      
      </div>


      <div class="mt-12 border-t border-gray-200 pt-8">
        <p class="text-base leading-6 text-gray-400 xl:text-center">
          &copy; 2020 The Center For IRS Help |  All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  