{{ define "main" }}
<div class="homeMast bg-lgray bg-center bg-top bg-no-repeat bg-scroll md:bg-home-mast">
<div class="max-w-screen-xl mx-auto pb-10">

                <div class="py-24 md:py-30 lg:py-48 px-10 md:px-6 lg:px-2 text-center">
                        <p class="text-2xl leading-7 font-semibold text-gray-700 uppercase md:text-left">
                        Welcome To
                        </p>
                        <h1 class="text-4xl uppercase leading-10 font-extrabold text-gray-800 sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none md:text-left">
                        The Center For IRS Help
                        </h1>
                        <p class="text-2xl leading-8 text-gray-700 md:text-left">
                        Putting the power back where it belongs&#8230; with you.
                        </p>
                </div>
               
                <div class="flex flex-wrap -mx-2 overflow-hidden mt-10">

                        <div class="w-full border-b border-gray-200 overflow-hidden lg:w-1/3 lg:my-2 lg:px-4 lg:border-none">
                                <div class="bg-white shadow-lg p-10 min-h-450">
                                        <h2 class="border-b border-gray-300 uppercase text-2xl pb-5 mb-6 font-semibold">Tax Law Resources</h2>
                                        <p>Valuable information provided by some of the best tax lawyers in America. Learn how to resolve your IRS problem. Learn the do's and dont's when dealing with the IRS.</p>

                                        <span class="inline-flex rounded-md shadow-sm mt-10">
                                                <a type="button" href="library/" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-700 hover:bg-gray-400 focus:outline-none transition ease-in-out duration-150">
                                                  Explore The Site &raquo; 
                                                </a>
                                              </span>
                                </div>
                          
                        </div>
                      
                        <div class="w-full border-b border-gray-200 overflow-hidden lg:w-1/3 lg:my-2 lg:px-4 lg:border-none">
                                <div class="bg-white shadow-md p-10 min-h-450">
                                        <h2 class="border-b border-gray-300 uppercase text-2xl pb-5 mb-6 font-semibold">Talk To A Real Pro</h2>
                                        <p>Before you spend thousands, talk to a real IRS dispute specialist. Get your case assessed. You may learn you can resolve things on your own. If not, we are here to help you resolve your IRS controversy.</p>

                                        <span class="inline-flex rounded-md shadow-sm mt-10">
                                                <a type="button" href="/contact" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-700 hover:bg-gray-400 transition ease-in-out duration-150">
                                                  Get In Touch &raquo; 
                                                </a>
                                              </span>
                                </div>
                        </div>
                      
                        <div class="w-full border-b border-gray-200 overflow-hidden lg:w-1/3 lg:my-2 lg:px-4 lg:border-none">
                                <div class="bg-white shadow-md p-10 min-h-450">
                                        <h2 class="border-b border-gray-300 uppercase text-2xl pb-5 mb-6 font-semibold">What Makes Us Different?</h2>
                                        <p>We are real pros with decades of experience in working with the IRS to help thousands of taxpayers resolve their disputes with the IRS. Our focus is on you, our client, and finding the best solution tailor made to your personal situation.</p>

                                        <span class="inline-flex rounded-md shadow-sm mt-10">
                                                <a href="/about" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-red-700 hover:bg-gray-400 transition ease-in-out duration-150">
                                                        Read More &raquo; 
                                                </a>
                                              </span>
                                </div>
                        </div>

                </div>


                <div class="py-24 lg:py-40 px-10 md:px-6 lg:px-2 text-center">


                        <div class="flex flex-wrap overflow-hidden">

                                <div class="w-full overflow-hidden md:w-1/2">
                                        <h3 class="text-2xl uppercase leading-10 font-extrabold text-gray-800 sm:text-4xl sm:leading-10 lg:text-6xl lg:leading-none md:text-left pr-6">
                                                Real Tax Pros Helping Taxpayers With IRS issues.
                                                </h3>
                                </div>
                              
                                <div class="w-full overflow-hidden md:w-1/2">
                                        <p class="text-xl text-gray-700 md:text-left pl-6">
                                                The smarter way to handle your IRS problem. No nonsense. No high-pressure sales pitch playing on your fears of the IRS. No large up-front fees. No half trained quasi-professionals. Just straight-forward help from real pros.
                                        </p>
                                </div>
                              
                              </div>


                        
                </div>




</div>
</div>
{{ end }}
