<div class="bg-gray-100">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
        Frequently Asked Questions
      </h2>
      </p>
      <div class="mt-6 border-t-2 border-gray-200 pt-6">
        <dl>
          <div class="md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                What are the different types of IRS audits?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                What do I really need to know about handling my own audit?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aut tempora vitae odio inventore fuga aliquam nostrum quod porro. Delectus quia facere id sequi expedita natus.
              </p>
            </dd>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Where will the audit take place?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptas ipsa quia excepturi, quibusdam natus exercitationem sapiente tempore labore voluptatem.
              </p>
            </dd>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                What happens if I simply chose not to participate in the audit?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.
              </p>
            </dd>
          </div>


          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Can IRS make me prepare documents I do not have?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>

          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Will IRS think I have something to hide if I hire a professional to represent me?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>




          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                What can I do if I have an aggressive IRS agent conducting my audit?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>



          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Can I reschedule the audit?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>



          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Should I give the IRS my original documents?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>






          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                What happens if I disagree with the adjustments to my tax return the agent is making?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>





          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Can the IRS agent change my tax return?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>




          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                How long will the audit last?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>

          
          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Can I request a different IRS agent for the audit?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quas voluptatibus ex culpa ipsum, aspernatur blanditiis fugiat ullam magnam suscipit deserunt illum natus facilis atque vero consequatur! Quisquam, debitis error.
              </p>
            </dd>
          </div>
   

          <div class="mt-8 border-t border-gray-200 pt-6 md:grid md:grid-cols-12 md:gap-8">
            <dt class="text-base leading-6 font-medium text-gray-900 md:col-span-5">
                Should I talk to the IRS agent?
            </dt>
            <dd class="mt-2 md:mt-0 md:col-span-7">
              <p class="text-base leading-6 text-gray-700">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet perspiciatis officiis corrupti tenetur. Temporibus ut voluptatibus, perferendis sed unde rerum deserunt eius.
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  