<a href="/" class="px-3 py-2 rounded-md text-md font-medium leading-5 text-gray-300
                   bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700
                   transition duration-150 ease-in-out uppercase">Home</a>

{{ with .Site.Menus.utility }}
{{ range after 1 . }}
{{ $active := eq $.RelPermalink (.URL | relLangURL) }}
  <a href="{{ .URL | relLangURL }}"
  {{ if $active }} class="ml-4 px-3 py-2 rounded-md text-md font-medium leading-5 text-white bg-gray-800 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 uppercase" aria-current="true"
  {{ else }} class="ml-4 px-3 py-2 rounded-md text-md font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 uppercase"
  {{ end }}
  >{{ .Name }}</a>
{{ end }}
{{ end }}