
<div class="py-16 bg-gray-50 overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-base max-w-prose mx-auto lg:max-w-none">
        <p class="text-base leading-6 text-skyblue font-semibold tracking-wide uppercase">The Center For IRS Help</p>
        <h1 class="mt-2 mb-8 text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">What Makes Us Different?</h1>
      </div>
      <div class="relative z-10 text-base max-w-prose mx-auto mb-8 lg:max-w-5xl lg:mx-0 lg:pr-72">
        <p class="text-lg text-gray-500 leading-7">The Center For IRS Help was formed to help taxpayers when they have an IRS problem. Our founder and his law firm are listed among The Best Lawyers In America. Collectively they have over 120 years of tax litigation/controversy experience, including over 40 of those spent practicing law in IRS’s Chief Counsel’s Office. Over their distinguished careers, they have helped thousands of taxpayers with every size, shape and type of tax controversy. They are the pros who contributed information for this site.</p>
      </div>
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
        <div class="relative z-10 mb-12 lg:mb-0">
          <div class="mb-10 prose text-gray-500 mx-auto lg:max-w-none">
            <p>Myriads of taxpayers have sought their help after first hiring another “tax professional.” After paying tens of thousands of dollars to unqualified self-proclaimed “tax professionals,” these taxpayers realized they were getting no help, or worse, their IRS problems were made worse. The contributing attorneys embarked on the Center For IRS Help to help prevent these travesties.</p>

            <p>The Center informs taxpayers so they will have a clearer picture of what to expect along the course of their tax controversy. Reliable information will help those handling their own tax dispute to be less vulnerable in dealing with the IRS. For those seeking professional help with their tax controversy, the knowledge they gain will help identify when someone is or is not a qualified tax controversy specialist. Meaningful information will help all taxpayers understand more about their tax dispute, whether they are under audit, owe the IRS money, have unfiled tax returns, are in Tax Court or have been notified the IRS is conducting a criminal investigation. Imparting that information is one of our chief goals. Under all circumstances, if you feel uncomfortable handling your own tax controversy, seek solid professional help from a veteran tax controversy specialist.</p>
           
          </div>

        </div>
        <div class="relative text-base max-w-prose mx-auto lg:max-w-none">
          <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384">
            <defs>
              <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)" />
          </svg>
          <blockquote class="relative bg-white rounded-lg shadow-lg">
            <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">

              <img src="/images/center-logo.jpg" alt="The Center Logo" class="h-8">
              <div class="relative text-lg text-gray-700 leading-7 font-medium mt-8">
                <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-200" fill="currentColor" viewBox="0 0 32 32">
                  <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
                </svg>
                <p class="relative">Tincidunt integer commodo, cursus etiam aliquam neque, et. Consectetur pretium in volutpat, diam. Montes, magna cursus nulla feugiat dignissim id lobortis amet. Laoreet sem est phasellus eu proin massa, lectus.</p>
              </div>
            </div>
            <cite class="flex items-center sm:items-start bg-skyblue rounded-b-lg not-italic py-5 px-6 sm:py-5 sm:pl-12 sm:pr-10 sm:mt-10">
              <div class="rounded-full border-2 border-white mr-4 sm:-mt-15 sm:mr-6">
                <img class="w-12 h-12 sm:w-20 sm:h-20 rounded-full bg-indigo-300" src="/images/steven.jpg" alt="">
              </div>
              <span class="text-indigo-300 font-semibold leading-6">
                <strong class="text-white font-semibold">Steven Anderson</strong>
                <br class="sm:hidden text-gray-200">
                Founder
              </span>
            </cite>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  