<div x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'description' }" id="tab_wrapper">
  <!-- The tabs navigation -->
  <nav>
    <a :class="{ 'active': tab === 'description' }" @click.prevent="tab = 'description'; window.location.hash = 'description'" href="#">Description</a>
    <a :class="{ 'active': tab === 'reviews' }" @click.prevent="tab = 'reviews'; window.location.hash = 'reviews'" href="#">Reviews</a>
  </nav>

  <!-- The tabs content -->
  <div x-show="tab === 'description'">
    Lorem ipsum description.
  </div>
  <div x-show="tab === 'reviews'">
    Lorem ipsum reviews.
   </div>

</div>



<nav>
  {{ $tabTotal := .Get "tabTotal" }}
  {{ range $i, $sequence := (seq $tabTotal) }}

  {{ $tabID := $.Get "tabID" }}
  {{ $tabName := (print "tabName" $sequence) }}
  {{ $tabHREF := (print "tab" $tabID $sequence) }}

  {{ if eq $sequence 1 }}
  
  <a :class="{ 'active': tab === 'nav-{{ $tabID }}' }" @click.prevent="tab = 'nav-{{ $tabID }}'; window.location.hash = 'nav-{{ $tabID }}'" href="#" aria-selected="true">{{ $.Get $tabName }}</a>

  {{ else }}

  <a :class="{ 'active': tab === 'nav-{{ $tabID }}' }" @click.prevent="tab = 'nav-{{ $tabID }}'; window.location.hash = 'nav-{{ $tabID }}'" href="#" aria-selected="false">{{ $.Get $tabName }}</a>
  {{ end }}
  {{ end }}
</nav>

<div class="tab-content" x-show="{{ $.Get "tabID" }}">

  {{ .Inner }}
  
  </div>

</div>
